* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

html, body {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

#animation-background {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-image: url("background.png");
  background-repeat: repeat;
  color: #D9DACC;

  display: flex;
  align-items: center;
}

#animation-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  /* This will be dynamically replaced by JS, initial state */
  background: radial-gradient(600px at 70% 70%, transparent 0%, rgb(25, 25, 25) 100%);
}

#hero {
  position: relative;
  width: 100%;
  height: 100%;
  color: #D9DACC;

  display: flex;
  align-items: center;
  justify-content: center;
}

#hero-text {
  position: relative;
  padding: 40px;
  max-width: 90%;
  background-color: #111111;
  border-radius: 10px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#hero-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 1;
  background-color: #111111;
}

#hero-text:before,
#hero-text:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 400%;
  z-index: 0;
  animation: shadow 20s linear infinite;
}

#hero-text:after {
  top: -4px;
  left: -4px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  filter: blur(24px);
  opacity: 0.9;
}

@keyframes shadow {
  0% {
    background-position: 0 0;
  }
  50.01% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#hero-title {
  position: relative;
  margin-left: -16px;
  margin-bottom: 10px;
  font-size: 2.2em;
  text-decoration: underline;
  transform: rotate(-6deg);
  z-index: 2;
}

#hero-text p {
  margin-top: 5px;
  margin-bottom: 5px;
  z-index: 2;
}

#hero-subtitle {
  position: relative;
  font-size: 1.2em;
  line-height: 1.6em;
  z-index: 2;
}

#hero-subtitle img {
  vertical-align: middle;
}

#hero-text__links {
  margin-top: 20px;
  z-index: 2;
}

#hero-text__links a[href] {
  text-decoration: none;
}

.hero-link {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #fff;
  font-size: 16px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #77bdfb;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.hero-link:hover {
  transform: translateY(3px);
  color: #ffffffa0;
}

#github-link {
  background-color: #212830;
  border-color: #212830;
  box-shadow: 0px 4px 4px 2px #152b43;
}

#github-link:hover {
  box-shadow: 0px 1px 1px 1px #152b43;
}

#linkedin-link {
  background-color: #007ab5;
  border-color: #007ab5;
  box-shadow: 0px 4px 4px 2px #0066c8;
}

#linkedin-link:hover {
  box-shadow: 0px 1px 1px 1px #0066c8;  
}

#email-link {
  background-color: #eb4132;
  border-color: #eb4132;
  box-shadow: 0px 4px 4px 2px #c6221d;
}

#email-link:hover {
  box-shadow: 0px 1px 1px 1px #c6221d;
}

#resume-link {
  background-color: #00cb44;
  border-color: #00cb44;
  box-shadow: 0px 4px 4px 2px #009833;
}

#resume-link:hover {
  box-shadow: 0px 1px 1px 1px #009833;
}

#projects-link {
  background-color: #40E0D0;
  border-color: #40E0D0;
  box-shadow: 0px 4px 4px 2px #006D6F;
}

#projects-link:hover {
  box-shadow: 0px 1px 1px 1px #006D6F;
}

@media screen and (max-width: 800px) {
  #hero-title {
    font-size: 1.6em;
  }

  #hero-subtitle {
    font-size: 1.0em;
    line-height: 1.6em;
  }
}
